/* LesPrivateSimakUIList.css */

.keunggulan-les-private-SBMPTN-list-container {
  padding: 0;
  margin-top: 12vh;
  margin-bottom: 10vh;
}

.keunggulan-les-private-SBMPTN-list-container h2 {
  font-size: 1.2rem;
  color: #333333;
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}

.keunggulan-subject-list-les-private-SBMPTN {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 6px; /* Spacing between items */
}

.keunggulan-subject-list-les-private-SBMPTN-item {
  display: flex;
  align-items: flex-start; /* Align items to the start */
  gap: 8px; /* Spacing between icon and text */
  margin-bottom: 8px;
}

.keunggulan-subject-list-les-private-SBMPTN-icon {
  flex-shrink: 0; /* Prevent icon from shrinking */
  width: 24px; /* Fixed width for icon */
  height: 24px; /* Fixed height for icon */
  color: #4caf50;
}

.subject-text {
  flex: 1;
  font-weight: 600;
  color: #4a4a4a; /* Ganti warna teks sesuai keinginan, misalnya biru */
}
/* Media queries for responsiveness */
@media (max-width: 768px) {
  .keunggulan-les-private-SBMPTN-list-container h2 {
    font-size: 1rem;
  }
}
